.fullCard,
.lowerHalfCard,
.upperHalfCard,
.fullCard-after,
.lowerHalfCard-after,
.upperHalfCard-after {
  background-color: inherit;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  
  align-items:inherit;
  display:inherit;
  justify-content:inherit;
}

.fullCard-after::after,
.upperHalfCard-after::after{
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background-color: inherit;
  width: 100%;
  top: calc(50% - 2px);
}
.lowerHalfCard-after::after{
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background-color: inherit;
  width: 100%;
  top: calc(50% - 2px);
}
.lowerHalfCard,
.lowerHalfCard-after{
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}
.upperHalfCard,
.upperHalfCard-after{
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.splitFlap {
  background-color:black;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-family: arial;
  font-size: 5.5em;
  
  width: 100px;
  height: 150px; 
          
  align-items: center;
  display:flex;
  justify-content: center;			  
  
}

.rotate0to90 {
  animation-name: r0to90;
}

.rotate90to0 {
  animation-name: r90to0;
}

.rotate0to_90 {
  animation-name: r0to_90;
}

.rotate_90to0 {
  animation-name: r_90to0;
}

.rotate0to90,
.rotate90to0,
.rotate0to_90,
.rotate_90to0 {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes r0to90 {
  from {
  transform:rotateX(0deg);
  }

  to {
  transform: rotateX(90deg);
  }
}

@keyframes r90to0 {
  from {
  transform: rotateX(90deg);
  }

  to {
  transform: rotateX(0deg);
  }
}

@keyframes r0to_90 {
  from {
  transform: rotateX(0deg);
  }

  to {
  transform: rotateX(-90deg);
  }
}

@keyframes r_90to0 {
  from {
  transform: rotateX(-90deg);
  }

  to {
  transform: rotateX(0deg);
  }
}

.transform0to_90 {
  transform: rotateX(-90deg);
}

.transform0to90 {
  transform: rotateX(90deg);
}
.hide{
  display:none
}
.zIndex2 {
  z-index: 2;
}

.zIndex4 {
  z-index: 4;
}

.zIndex10 {
  z-index: 10;
}
.blue{
   background-color: blue
}
.green{
   background-color: green
}
.red{
   background-color: red
}
.orange{
  background-color: orange
}