.countDown{
    align-items:center;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.seperator{   
    font-weight: bold;
    font-family: arial;
    font-size: 5em;     
    align-items: center;
    display:flex;
    justify-content: center;	
}
.countDownDigit {
    background-color:chocolate;
    box-sizing: border-box;
    border-radius: 10px;
    color:gold;
    font-weight: bold;
    font-family:Lucida Handwriting;
    font-size: 5em;
    
    width: 70px;
    height: 100px; 
            
    align-items: center;
    display:flex;
    justify-content: center;
  }